@import "generic/reset";

/*settings*/

/*elements*/
@import "elements/header";
@import "elements/main";

//
/*
ThemeName: MinimumStudio
Text Domain: MinimumStudio
Version: 1.0
Description: 
Tags: responsive
Author: Karolina Skorupska
Author URI:  https://github.com/karolinaskorupska
*/