/* you can edit this */

//mobile
$xs: 320px;
//mobile- landscape
$s: 568px;
//tablet- portrait
$m: 768px;
//tablet- landscape
$l: 1024px;
//laptop displays
$xl: 1366px;
//desktop displays
$xxl: 1680px;
// ultra large screens
$xxxl: 1920px;
