.empathy {
  width: 100%;


  h3 {
    padding-top: 10px;

    @media (min-width: $xxxl) {
      padding-top: 50px;
    }
  }

  &__container {
    width: 100%;
  

    @media (min-width: $xxxl) {
      display: flex;
    }

    &__image-box {
      width: 100%;

      @media (min-width: $xxxl) {
        width: 50%;
      }

      &__image {
        @media (min-width: $xxxl) {
          display: flex;
          justify-content: center;
        }

        img {
          width: 100%;

          @media (min-width: $xxxl) {
            width: 80%;
          }
        }
      }
    }

    &__text-box {
      @media (min-width: $xxxl) {
        width: 50%;
        padding: 3% 5%;
      }
    }
  }
}
