.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  &__logo {
    a {
      img {
        width: 170px;
      }
    }
  }
  &__navigation {
    nav {
      ul {
        display: flex;
        flex-direction: row;
        font-family: Narrow;
        text-transform: uppercase;
        font-size: 12px;
        li {
          padding: 3px;
          a {
            text-decoration: none;
            color: $basic;
            font-family: Narrow;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__toggle-wrapper {
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
    .toggle {
      height: 18px;
      width: 30px;
      border-radius: 16px;
      display: inline-block;
      position: relative;
      margin: 0;
      border: 1px solid $basic;
      background: $extraColor;
      transition: all 0.2s ease;

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        border: 1px solid $basic;
        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      }
      &:checked {
        border-color: $basic;
        &::after {
          translate: 20px;
        }
      }
    }
  }
}
