.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $xxxl) {
    width: 100%;
    justify-content: space-between;
  }
  &__logo {
    a {
      img {
        width: 170px;
        @media (min-width: $xxxl) {
          width: 500px;
        }
      }
    }
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;

    @media (min-width: $xxxl) {
      justify-content: flex-end;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: row;
        font-family: $Tight;
        text-transform: uppercase;
        font-size: 10px;

        @media (min-width: $xxxl) {
          font-size: 28px;
        }
        li {
          padding: 7px;

          @media (min-width: $xxxl) {
            padding-right: 50px;
          }
          a {
            text-decoration: none;
            color: $basic;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__toggle-wrapper {
    @media (min-width: $xxxl) {
      padding: 0 5%;
      margin-top: 2px;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
    .toggle {
      height: 16px;
      width: 28px;
      border-radius: 16px;
      display: inline-block;
      position: relative;
      margin: 0;
      border: 1px solid $basic;
      background: $extraColor;
      transition: all 0.2s ease;

      @media (min-width: $xxxl) {
        height: 34px;
        width: 58px;
        border-radius: 36px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        border: 1px solid $basic;
        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);

        @media (min-width: $xxxl) {
          height: 23.3px;
          width: 23.3px;
          top: 3.8px;
          left: 3.8px;
        }
      }
      &:checked {
        border-color: $basic;
        &::after {
          translate: 20px;
        }
      }
    }
  }
}
