.introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;

  &__content {
    width: 90%;
    padding-top: 20%;

    @media (min-width: $l) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5%;
    }

    &__stones-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @media (min-width: $l) {
        justify-content: flex-end;
        padding-top: 10%;
      }
      img {
        width: 80%;
        @media (min-width: $l) {
          width: 60%;
        }
      }
    }
    &__badge-container {
      width: 100%;
      padding: 8%;
      @media (min-width: $l) {
        padding:0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 55%;
      }
      img {
        width: 65%;
      }
    }
  }
  &__side-bar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3px;

    @media (min-width: $l) {
      width: 8%;
      padding-right: 0;
    }

    img.arrow-darkmode {
      width: 30px;

      @media (min-width: $m) {
        width: 35px;
      }

      @media (min-width: $l) {
        width: 42px;
      }

      @media (min-width: $xl) {
        width: 50px;
      }

      @media (min-width: $xxl) {
        width: 60px;
      }
    }
    img.text-darkmode {
      width: 8px;

      @media (min-width: $m) {
        width: 10px;
      }

      @media (min-width: $l) {
        width: 12px;
      }

      @media (min-width: $xl) {
        width: 15px;
      }

      @media (min-width: $xxl) {
        width: 20px;
      }
    }
  }
}
