.local {
  width: 100%;

  &__container {
    width: 100%;
    position: relative;

    @media(min-width: $xxxl){
      padding-top: 70px;
    }

    &__image-box {
      width: 100%;

      img {
        width: 100%;
        position: absolute;
        
        @media(min-width: $xxxl){
          width: 60%;
          top: 0;
          left: 5%;
        }
      }
    }

    a {
      padding-top: 90%;
      text-align: center;
      display: block;
      text-transform: uppercase;
      text-decoration: underline;
      font-family: Tight;
      font-size: 12px;
      padding-bottom: 8%;

      @media(min-width: $xxxl){
        position: absolute;
        padding: 0;
        font-size: 28px;
        top: 300%;
        right: 15%;
      }


    }

    @media (min-width: $xxxl) {
      &__text-box {
        width: 40%;
        float: right;
        padding: 30% 5% 0 5%;
      }
    }
  }
}
