.manifestum {
  width: 100%;

  @media (min-width: $xxxl) {
    position: relative;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    @media (min-width: $xxxl) {
      display: block;
    }

    img.first {
      display: block;
      width: 90%;
      padding: 15px 0;

      @media (min-width: $xxxl) {
        display: unset;
        position: absolute;
        top: 5%;
        width: 50%;
        right: 5%;
      }
    }

    img.second {
      display: none;

      @media (min-width: $xxxl) {
        display: block;
        position: absolute;
        top: 45%;
        left: 12%;
        width: 25%;
      }
    }

    @media (min-width: $xxxl) {
      .p1 {
        width: 40%;
        float: left;
        padding-top: 3%;
        padding-left: 60px;
      }
      .p2 {
        width: 38%;
        padding-top: 55%;
      }
      .p3 {
        width: 38%;
        display: block;
        float: right;
        padding-right: 13%;
      }
    }
  }
}
