.minimalism {
  width: 100%;

  &__container {
    width: 100%;
  

    @media(min-width:$m) {
      display: flex;
      flex-direction: row-reverse;
    }

    &__image-box {
      width: 100%;

      @media(min-width:$xxxl) {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        text-align: center;
        display: block;
        text-transform: uppercase;
        text-decoration: underline;
        font-family: Tight;
        font-size: 12px;
        color: $basic;
        padding: 25%;

        @media(min-width:$l){
          font-size: 20px;
        }
      
        @media(min-width:$xl){
          font-size: 24px;
        }

        @media(min-width:$xxxl) {
          padding: 0;
          font-size: 28px;
        }
      }
    }

    @media(min-width:$xxxl) {
      
      &__text-box{
        width: 50%;
      }
    }
  }
}
