.we-are {
  width: 100%;

  &__container {
    width: 100%;

    @media (min-width: $xxxl) {
      position: relative;
    }

    &__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: $xxxl) {
        align-items: flex-start;
        width: 44%;
        border-right: 1px solid $basic;
        padding-right: 5%;
        padding-bottom: 5%;
      }

      p.close {
        @media (min-width: $xxxl) {
          margin: 10% 0;
        }
      }

      span {
        display: inline-block;
        display: block;
        width: 90%;
        font-size: 18px;
        font-family: "Narrow", sans-serif;
        font-size: 20px;
        line-height: 26px;
        color: #000;

        @media (min-width: $xxxl) {
          font-size: 48px;
          line-height: 60px;
          padding: 0 60px;
          display: inline-block;

          &:last-of-type {
            border-bottom: 1px solid black;
            width: 100%;
            padding: 0;
            margin-left: 60px;
            padding-bottom: 10%;
            margin-bottom: 5%;
          }
        }
      }

      p.about {
        font-size: 16px;
        line-height: 20px;
        @media (min-width: $xxxl) {
          font-size: 39px;
          line-height: 49px;
        }
      }
    }

    img.desktop {
      display: block;
      width: 85%;
      padding: 20px 0;

      @media (min-width: $xxxl) {
        position: absolute;
        top: 10%;
        right: 5%;
        width: 35%;
      }
    }

    img.sticker {
      display: block;
      width: 60%;
      padding: 20px 0;

      @media (min-width: $xxxl) {
        position: absolute;
        width: 25%;
        right: 15%;
        top: 60%;
      }
    }
  }
}
