.we-are {
  width: 100%;
  &__container {
    width: 100%;

    &__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p.close {
        padding: 0 25px 0 20px;
        span{
          display: block;
        }
      }

      p.about{
        font-size: 14px;
        line-height: 18px;
        color: $basic;
        font-family: $Narrow;
        padding: 10px 25px 10px 20px;
      }

      img.mobile {
        display: block;
        width: 90%;
        padding: 15px 0;
      }

      img.desktop {
        display: none;
      }

      img.sticker {
        display: block;
        width: 60%;
        padding: 15px 0;
      }
    }
  }
}
