.what-matters{
    width: 100%;

    &__container{
        width: 100%;

        &__1, &__2{
            width: 100%;

            p{
                span{
                    background-color: $extraColor;
                }
            }
        }

        &__2{
            &__image-box{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 70%;
                }
            }

            &__text-box{
                font-family: Narrow;
                font-size: 18px;
                color: $basic;
                
                ul{
                    padding:10px 25px 10px 20px;
                    list-style-position: outside;
                    list-style-type: none;
                    list-style-image: url("assets/images/icons/cross.png");;
                    li{
                        padding: 8px 0;
                        span{
                            background-color: $extraColor;
                        }
                    }
                }
            }
        }
    }
}